In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
train = pd.read_csv("../data/train.csv")
test = pd.read_csv("../data/test.csv")

In [3]:
train.head()

   track               tags
0  49734  5,6,9,26,32,55,96
1  67845  6,9,28,39,145,155
2  25302  0,6,28,40,116,168
3  57796             28,186
4  13676           6,23,177

In [4]:
train, val = train_test_split(train, test_size=0.1, random_state=42)
train["stage"] = "train"
val["stage"] = "val"
meta = pd.concat((train, val), ignore_index=True)

In [5]:
meta.to_csv("../data/metadata.csv", sep="\t", index=False)